/*margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Content area grow */
body > *:not(footer) {
    flex-grow: 1;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Navigation menu styling */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #e74c3c;
    text-decoration: underline wavy;
}

/* Footer */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

/* Heading */
h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}

/* Reset vertical margin  */
body > *:first-child {
    margin-top: 0;
}
